<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="carrito-container">
  <h2>Hola {{ usuario }}</h2>
  
  <p><strong>{{ obtenerMensaje() }}</strong></p>
  
  <ion-list>
    <ion-item>
      <ion-label>Liquido de Durazno y menta - $19.990</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liquido de menta - $18.990</ion-label>
    </ion-item>
  </ion-list>

  <div class="total-container">
    <h3>Total a pagar: ${{ calcularTotal() }}</h3>
    <p>Fecha: {{ fecha }}</p>
    <p>Productos: {{ cantidadProductos }}</p>
  </div>

  <div class="botones-carrito">
    <ion-button expand="block" color="success" routerLink="/home">
      Finalizar Compra - ${{ total }}
    </ion-button>
    <ion-button expand="block" color="light" routerLink="/productos">
      Seguir Comprando
    </ion-button>
  </div>
</ion-content>