<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <h2>Bienvenido a <strong>CloudWorld</strong></h2>

  <div class="form-container">
    <ion-item>
      <ion-input
        placeholder="Usuario"
        type="text"
        [(ngModel)]="usuario">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Contraseña"
        type="password"
        [(ngModel)]="clave">
      </ion-input>
    </ion-item>

    <ion-button
      expand="block"
      color="success"
      (click)="login()">
      Entrar
    </ion-button>
  </div>
</ion-content>
